@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --paper: #d7d0cb;
  --paper-alt: #e8e4e0;

  --gray-1: #cbc9c6;
  --gray-2: #cec8c7;
  --gray-3: #c7c5c3;
  --gray-4: #777474;
  --gray-5: #2c2c2c;

  --scale: 1px;
}
