
.container {
	min-height: calc(100vh + 6rem);
	display: flex;
	flex-direction: column;
	padding-inline: var(--grid-spacing-2);
	max-width: 100%;

	--dot-spacing: 30;
	--dot-size: 2.5;

	--dot-gradient-pos: calc((var(--dot-size) / var(--dot-spacing)) * 100%);
	--dot-background-size: calc(var(--dot-spacing) * var(--scale));

	--main-grid-width: 2px;
	--minor-grid-width: 1px;
	--main-grid-spacing: 6;
	--minor-grid-subdivisions: 1;

	--grid-spacing-3: calc(var(--dot-spacing) * var( --main-grid-spacing) * var(--scale));
	--grid-spacing-2: calc(var(--grid-spacing-3) / (var(--minor-grid-subdivisions) + 1));
	--grid-spacing-1: calc(var(--dot-spacing) * var(--scale) / 2);

	background-position:
			0 0,
			var(--main-grid-width),
			0 var(--main-grid-width),
			var(--minor-grid-width),
			0 var(--minor-grid-width);
	background-image:
			radial-gradient(var(--gray-1) var(--dot-gradient-pos), transparent var(--dot-gradient-pos)),
			linear-gradient(-90deg, var(--gray-3) var(--main-grid-width), transparent var(--main-grid-width)),
			linear-gradient(0deg, var(--gray-3) var(--main-grid-width), transparent var(--main-grid-width)),
			linear-gradient(-90deg, var(--gray-2) var(--minor-grid-width), transparent var(--minor-grid-width)),
			linear-gradient(0deg, var(--gray-2) var(--minor-grid-width), transparent var(--minor-grid-width));
	background-color: var(--background);
	background-size:
			var(--dot-background-size) var(--dot-background-size),
			calc(var(--dot-spacing) * var(--main-grid-spacing) * var(--scale)) auto,
			auto calc(var(--dot-spacing) * var(--main-grid-spacing) * var(--scale)),
			calc(var(--dot-spacing) * var(--main-grid-spacing) / (var(--minor-grid-subdivisions) + 1) * var(--scale)) auto,
			auto calc(var(--dot-spacing) * var(--main-grid-spacing) / (var(--minor-grid-subdivisions) + 1) * var(--scale));
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: var(--grid-spacing-3);
	margin-inline: auto;
	margin-bottom: auto;
	max-height: max-content;
	max-width: 100%;
	position: relative;
	padding-inline: var(--grid-spacing-2);
}
.main * {
 z-index: 1;
}




.title {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: var(--paper-alt);
	margin-block: var(--grid-spacing-2);
	padding: 0;
	font-size: min(250px, calc((100vw - (var(--grid-spacing-1) * 4 * 2)) / 4.5)); /* 1064px breed */
	line-height: var(--grid-spacing-3);
	position: relative;

	--shadow-color: rgba(159, 159, 159, 0.05);
	--side-color: #a29e94;
	text-shadow:
		-.1vw 0 .1vw var(--side-color),
		-.2vw 0 .1vw var(--side-color),
		-.3vw 0 .1vw var(--side-color),
		-.4vw 0 .1vw var(--side-color),
		-.5vw 0 .1vw var(--side-color),
		-.6vw 0 .1vw var(--side-color),
		-.7vw 0 .1vw var(--side-color),
		-.8vw 0 .1vw var(--side-color),
		-.9vw 0 .1vw var(--side-color),

		1vw -1vw 1.5vw #e5deda88,

		-.9vw 0 0 var(--shadow-color),
		-1.0vw .1vw  0 var(--shadow-color),
		-1.1vw .2vw 0 var(--shadow-color),
		-1.2vw .3vw 0 var(--shadow-color),
		-1.3vw .4vw 0 var(--shadow-color),
		-1.4vw .5vw 0 var(--shadow-color),
		-1.5vw .6vw 0 var(--shadow-color),
		-1.6vw .7vw 0 var(--shadow-color),
		-1.7vw .8vw 0 var(--shadow-color),
		-1.8vw .9vw 0 var(--shadow-color),
		-1.9vw 1.0vw 0 var(--shadow-color),
		-2.0vw 1.1vw 0 var(--shadow-color),
		-2.1vw 1.2vw 0 var(--shadow-color),
		-2.2vw 1.3vw 0 var(--shadow-color),
		-2.3vw 1.4vw 0 var(--shadow-color),
		-2.4vw 1.5vw 0 var(--shadow-color),
		-2.5vw 1.6vw .1vw var(--shadow-color),
		-2.6vw 1.7vw .2vw var(--shadow-color),
		-2.7vw 1.8vw .3vw var(--shadow-color),
		-2.8vw 1.9vw .4vw var(--shadow-color),
		-2.9vw 2.0vw .5vw var(--shadow-color);
}

.cross, .line {
	width: calc(var(--dot-spacing) * var(--scale));
	height: calc(var(--dot-spacing) * var(--scale));
	z-index: 0;
	position: absolute;
}


.cross::before, .cross::after, .line::before {
	content: '';
	position: absolute;
	background-color: var(--gray-5);
}

.cross::before {
	width: 3px;
	height: 100%;
	right: calc(50% - 3px / 2);
}

.cross::after, .line::before {
	width: 100%;
	height: 3px;
	top: calc(50% - 3px / 2);
}

.topRight {
	top: calc(var(--grid-spacing-1) * -1);
	right: calc(var(--grid-spacing-1) * -1);
}
.topLeft {
	top: calc(var(--grid-spacing-1) * -1);
	left: calc(var(--grid-spacing-1) * -1);
}

.bottomCenter {
	bottom: calc(var(--grid-spacing-1) * -1);
	right: calc(50% - var(--grid-spacing-1));
}

.centerLeft {
	top: calc(50% - var(--grid-spacing-1));
	left: calc(var(--grid-spacing-1) * -1);
}

.centerRight {
	top: calc(50% - var(--grid-spacing-1));
	right: calc(var(--grid-spacing-1) * -1);
}

.center {
	top: calc(50% - var(--grid-spacing-1));
	right: calc(50% - var(--grid-spacing-1));

}

.projects {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--grid-spacing-2);
}

@media (max-width: 1424px) {
	.container, .main {
		padding-inline: calc(var(--grid-spacing-1) * 2);
	}
}

@media (max-width: 850px) {
	.main {
		padding-inline: calc(var(--grid-spacing-1) * 1);
		margin-top: var(--grid-spacing-2);
	}
	.title {
		line-height: var(--grid-spacing-2);
	}
	.projects {
		gap: 0;
	}
}
@media (max-width: 570px) {
	.container {
		--scale: .8px;
	}
}
