.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	--dot-spacing: 30;
	--dot-size: 2.5;

	--dot-gradient-pos: calc((var(--dot-size) / var(--dot-spacing)) * 100%);
	--dot-background-size: calc(var(--dot-spacing) * 1px);

	--main-grid-width: 2px;
	--minor-grid-width: 1px;
	--main-grid-spacing: 6;
	--minor-grid-subdivisions: 1;


	background-position:
		0 0,
		var(--main-grid-width),
		0 var(--main-grid-width),
		var(--minor-grid-width),
		0 var(--minor-grid-width);
	background-image:
		radial-gradient(var(--gray-1) var(--dot-gradient-pos), transparent var(--dot-gradient-pos)),
		linear-gradient(-90deg, var(--gray-3) var(--main-grid-width), transparent var(--main-grid-width)),
		linear-gradient(0deg, var(--gray-3) var(--main-grid-width), transparent var(--main-grid-width)),
		linear-gradient(-90deg, var(--gray-2) var(--minor-grid-width), transparent var(--minor-grid-width)),
		linear-gradient(0deg, var(--gray-2) var(--minor-grid-width), transparent var(--minor-grid-width));
	background-color: var(--paper);
	background-size:
		var(--dot-background-size) var(--dot-background-size),
		calc(var(--dot-spacing) * var(--main-grid-spacing) * 1px) auto,
		auto calc(var(--dot-spacing) * var(--main-grid-spacing) * 1px),
		calc(var(--dot-spacing) * var(--main-grid-spacing) / (var(--minor-grid-subdivisions) + 1) * 1px) auto,
		auto calc(var(--dot-spacing) * var(--main-grid-spacing) / (var(--minor-grid-subdivisions) + 1) * 1px);
	height: 100%;
	width: 100%;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title {
	color: var(--paper);
	margin: 0;
	line-height: 1.15;
	font-size: 15rem;
	text-align: center;
	--shadow-color: rgba(159, 159, 159, 0.05);
	--side-color: #a29e94;
	text-shadow:
			-1px 0 1px var(--side-color),
			-2px 0 1px var(--side-color),
			-3px 0 1px var(--side-color),
			-4px 0 1px var(--side-color),
			-5px 0 1px var(--side-color),
			-6px 0 1px var(--side-color),
			-7px 0 1px var(--side-color),
			-8px 0 1px var(--side-color),
			-9px 0 1px var(--side-color),

			10px -10px 15px #e5deda88,

			-9px 1px 0 var(--shadow-color),
			-10px 2px 0 var(--shadow-color),
			-11px 3px 0 var(--shadow-color),
			-12px 4px 0 var(--shadow-color),
			-13px 5px 0 var(--shadow-color),
			-14px 6px 0 var(--shadow-color),
			-15px 7px 0 var(--shadow-color),
			-16px 8px 0 var(--shadow-color),
			-17px 9px 0 var(--shadow-color),
			-18px 10px 0 var(--shadow-color),
			-19px 11px 0 var(--shadow-color),
			-20px 12px 0 var(--shadow-color),
			-21px 13px 0 var(--shadow-color),
			-22px 14px 0 var(--shadow-color),
			-23px 15px 0 var(--shadow-color),
			-24px 16px 0 var(--shadow-color),
			-25px 17px 0 var(--shadow-color),
			-26px 18px 0 var(--shadow-color),
			-27px 19px 0 var(--shadow-color),
			-28px 20px 0 var(--shadow-color),
			-29px 21px 0 var(--shadow-color);
}
