.project {
	display: grid;
	grid-template:
		'title title'
		'canvas report';
	grid-template-columns: 1fr var(--grid-spacing-3);
	gap: calc(var(--grid-spacing-1) * 3) 0;
	width: 100%;
}

.title {
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 400;
	text-align: right;
	color: var(--gray-5);

	width: max-content;
	justify-self: end;
	margin: 0;

	grid-area: title;
	line-height: calc(var(--grid-spacing-1) * 3);
}
.id  {
	color: var(--gray-4);
	font-weight: 300;
}

.report {
	width: max-content;
	grid-area: report;
	font-family: 'Rajdhani', sans-serif;
	color: var(--gray-4);
	/*width: var(--grid-spacing-3);*/
}

.report h3 {
	color: var(--gray-5);
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
	line-height: calc(var(--grid-spacing-1) * 2);
}

.reportContent {
	margin-top: calc(var(--grid-spacing-1) / 2);
	font-size: 1.4rem;
	line-height: calc(var(--grid-spacing-1) * 2);
	display: flex;
	flex-direction: column;
	font-weight: 300;
}
.reportContent div span:first-child {
	font-size: 1.2rem;
}

.canvas {
	height: calc((var(--grid-spacing-2) * 8) + (var(--grid-spacing-1) * 3));
	grid-area: canvas;
	margin-block: calc(var(--grid-spacing-1) * -3) 0;
	max-width: 100%;
	align-self: stretch;
}
.canvas * {
	max-width: 100%;
}

@media (max-width: 850px) {
	.project {
		grid-template-areas: 'title' 'canvas';
		grid-template-columns: initial;
	}
	.title {
		font-size: 2.5rem;
	}
	.report {
		grid-area: canvas;
		justify-self: end;
	}
	.canvas {
		height: calc((var(--grid-spacing-2) * 7) + (var(--grid-spacing-1) * 3));
		/*transform: translateY(calc(var(--grid-spacing-3) * -1));*/
	}
}

